{% extends '../layouts/default.njk' %}

{% block body %}
    <div class="wrapper">
        {% include '../partials/header.njk' %}

        <section id="main">
            <div class="container">
                <header>
                    <h2>Meus projetos <span>({{ projects.length }})</span></h2>
                    <div class="addon">
                        <form action="/app/project/create" method="post">
                            <input type="text" name="name" placeholder="Novo projeto" required autocomplete="off">
                            <button type="submit" class="btn">
                                <img src="img/plus.svg" alt="new-project">
                            </button>
                        </form>
                    </div>
                </header>

                <section id="content">
                    {% if (projects.length === 0) %}
                        <span style="color: #444">Você não tem projetos.</span>
                    {% else %}
                        <ul class="project-list">
                            {% for project in projects %}
                                <li>
                                    <a href="/app/project/{{ project.id }}">{{ project.name }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </section>
            </div>
        </section>
    </div>
{% endblock %}
