{% extends '../layouts/default.njk' %}

{% block body %}
    <div class="auth-wrapper">
        <h1>Docfy</h1>
        <form action="/register" method="POST">
            <input type="text" name="name" placeholder="Digite seu nome completo">
            <input type="email" name="email" placeholder="Digite seu e-mail">
            <input type="password" name="password" placeholder="Digite sua senha">
            <button type="submit">Criar conta</button>
            <a href="/">Já tenho conta</a>
        </form>
    </div>
{% endblock %}