{% for message in flashSuccess %}
    <div class="alert alert-success">{{ message }}</div>
{% endfor %}

{% for message in flashError %}
    <div class="alert alert-danger">{{ message }}</div>
{% endfor %}

<script>

    $(function () {

        setTimeout(function () {
            const alert = document.querySelector('.alert');
            if (alert) {
                $(".alert").remove();
            }
        }, 3000);

    });

</script>
