<header id="header">
    <div class="container">
        <a href="/app/dashboard" class="app-name">
            <h1>Docfy</h1>
        </a>

        <div class="user-info">
            <p class="welcome">
                Bem vindo<br>
                <strong>{{ username }}</strong>
            </p>
            <a href="/signout" class="btn btn-danger">
                <img src="img/signout.svg" alt="signout">
            </a>
        </div>
    </div>
</header>
