
<header>
    <h2>{{ project.name }}</h2>
    <div class="addon">
        <a id="remove-project" href="#" class="btn btn-danger">Excluir projeto</a>
        <form id="delete-project-form" method="post" action="/app/project/{{ project.id }}?_method=DELETE"></form>
    </div>
</header>

<script>

    $(function () {

        $("#remove-project").on('click', function (ev) {
            ev.preventDefault();
            $("#delete-project-form").submit();
        });

    });

</script>
