
<nav>
    <div class="sessions">
        {% if (sections.length === 0) %}
            <span style="margin-bottom: 10px;">Não há seções neste projeto.</span>
        {% else %}
            <ul class="sections-list">
                {% for section in sections %}
                    <li>
                        <a
                            href="/app/project/{{ project.id }}/section/{{ section.id }}"
                            {% if (activeSection and activeSection.id == section.id) %} class="active" {% endif %}
                        >
                            {{ section.title }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>

    <a href="/app/project/{{ project.id }}/section/create" class="btn">Nova seção</a>
</nav>
