{% extends '../layouts/default.njk' %}

{% block body %}
    <div class="wrapper">
        {% include '../partials/header.njk' %}

        <section id="main">
            <div class="container">
                {% include '../partials/header-project.njk' %}

                <section id="content">
                    {% include '../partials/sections.njk' %}

                    <article style="text-align: center">
                        <span>Clique em uma seção para mais detalhes ou adicione uma nova.</span>
                    </article>
                </section>
            </div>
        </section>
    </div>
{% endblock %}