{% extends '../layouts/default.njk' %}

{% block body %}
    <div class="wrapper">
        {% include '../partials/header.njk' %}

        <section id="main">
            <div class="container">
                {% include '../partials/header-project.njk' %}

                <section id="content">
                    {% include '../partials/sections.njk' %}

                    <article>
                        <form id="section-form" action="/app/project/{{ project.id }}/section/save" method="POST">
                            <input type="text" name="title" placeholder="Digite o titulo da seção" required>
                            <textarea id="content" name="content" placeholder="Conteúdo da seção"></textarea>
                            <button type="submit" class="btn">Salvar</button>
                        </form>
                    </article>
                </section>
            </div>
        </section>
    </div>

    <script>

        $(function () {

            let simplemde = new SimpleMDE();

            $("#section-form button[type=submit]").on('click', function () {
                $('textarea#content').val(simplemde.value());
            });

        });

    </script>
{% endblock %}
