{% extends '../layouts/default.njk' %}

{% block body %}

    <div class="wrapper">
        {% include '../partials/header.njk' %}

        <section id="main">
            <div class="container">
                {% include '../partials/header-project.njk' %}

                <section id="content">
                    {% include '../partials/sections.njk' %}

                    <article>
                        <div class="project-header">
                            <h1>{{ activeSection.title }}</h1>
                            <div class="section-actions">
                                <a class="edit-section" href="#">Editar seção</a>|
                                <a class="remove-section" href="#">Remover seção</a>
                                <form id="delete-section-form" action="/app/project/{{ project.id }}/section/{{ activeSection.id }}?_method=DELETE" method="POST"></form>
                            </div>
                        </div>
                        <form id="section-form" action="/app/project/{{ project.id }}/section/{{ activeSection.id }}?_method=PUT" method="POST">
                            <input type="text" name="title" placeholder="Digite o titulo da seção" value="{{ activeSection.title }}" required>
                            <textarea id="content" name="content" placeholder="Conteúdo da seção"></textarea>
                            <button id="save-content" type="submit" class="btn">Salvar</button>
                        </form>
                    </article>
                </section>
            </div>
        </section>
    </div>

    <script>

        $(function () {
            let sectionTitle = `{{ activeSection.title }}`;
            let sectionContent = `{{ activeSection.content }}`;

            let simplemde = new SimpleMDE();

            $(".editor-toolbar").hide();
            $("input[name=title]").hide();
            $("#save-content").hide();
            simplemde.value(sectionContent);
            simplemde.togglePreview();

            $(".edit-section").on('click', function (ev) {
                ev.preventDefault();
                if ($(this).hasClass('edition-active')) {
                    $(".editor-toolbar").hide();
                    $("input[name=title]").hide();
                    $("#save-content").hide();
                    $(this).removeClass('edition-active');
                    $(this).text('Editar seção');
                    if (simplemde.isPreviewActive()) {
                        simplemde.togglePreview();
                    }
                    $("input[name=title]").val(sectionTitle);
                    simplemde.value(sectionContent);
                    simplemde.togglePreview();
                } else {
                    $(".editor-toolbar").show();
                    $("input[name=title]").show();
                    $("#save-content").show();
                    $(this).addClass('edition-active');
                    $(this).text('Cancelar edição');
                    simplemde.togglePreview();
                }
            });

            $("#save-content").on('click', function () {
                $('textarea#content').val(simplemde.value());
            });

            $(".remove-section").on('click', function (ev) {
                ev.preventDefault();
                $("#delete-section-form").submit();
            });
        });

    </script>

{% endblock %}
