@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700');

html, body {
    height: 100%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #fff;
    font-family: 'Source Sans Pro', sans-serif;
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
}

button {
    font-family: 'Source Sans Pro', sans-serif;
    cursor: pointer;
}

input:focus, textarea:focus {
    outline: 0;
}

.btn {
    height: 40px;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    background: #76E1A8;
    line-height: 40px;
    padding: 0 20px;
    border-radius: 3px;
    border: 0;
    text-decoration: none;
    display: inline-block;
}

.btn:hover {
    background: #6BD59C;
}

.btn.btn-danger {
    background: #E06666;
}

.btn.btn-danger:hover {
    background: #D05959;
}

.auth-wrapper {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: #758AE2;
    color: #FFF;
}

.auth-wrapper h1 {
    font-size: 64px;
    margin: 0 0 20px;
}

.auth-wrapper form {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 280px;
}

.auth-wrapper form input {
    height: 51px;
    border-radius: 3px;
    border: 0;
    padding: 0 20px;
    color: #444;
    font-size: 15px;
    margin: 0 0 10px;
}

.auth-wrapper form button {
    height: 51px;
    line-height: 51px;
    background: #76E1A8;
    border-radius: 3px;
    border: 0;
    color: #fff;
    font-weight: bold;
    text-align: center;
    font-size: 18px;
    margin: 5px 0 0;
}

.auth-wrapper form button:hover {
    background: #6BD59C;
}

.auth-wrapper form a {
    text-align: center;
    color: #FFF;
    font-weight: bold;
    text-decoration: none;
    margin: 20px 0 0;
}

.wrapper {
    display: flex;
    flex-direction: column;
}

.wrapper .container {
    max-width: 840px;
    margin: 0 auto;
    height: 100%;
}

.wrapper #header {
    height: 80px;
    background: #758AE2;
    color: #FFF;
}

.wrapper #header .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.wrapper #header .user-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: right;
}

.wrapper #header .user-info p {
    font-size: 14px;
    line-height: 16px;
}

.wrapper #header .user-info strong {
    font-size: 16px;
}

.wrapper #header .user-info a {
    margin-left: 15px;
}

.wrapper section#main {
    margin: 30px 0 0;
}

.wrapper section#main header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #EEE;
    padding: 0 0 20px;
    margin: 0 0 20px;
}

.wrapper section#main header h2 {
    color: #333;
    font-size: 24px;
    font-weight: 600;
}

.wrapper section#main .addon form input {
    background: #F5F5F5;
    border-radius: 3px;
    height: 40px;
    padding: 0 20px;
    color: #444;
    font-size: 15px;
    border: 0;
    margin: 0 8px 0 0;
}

.wrapper section#main .addon a.btn {
    font-size: 18px;
    margin-left: 8px;
}

.wrapper section#main #content {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.wrapper section#main #content .project-list {
    flex: 1;
}

.wrapper section#main #content .project-list a {
    color: #444;
    font-size: 16px;
    padding: 20px 30px;
    background: #F5F5F5;
    border-radius: 3px;
    margin: 15px 0 0;
    font-weight: 600;
    text-decoration: none;
    transition: transform .2s;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.wrapper section#main #content .project-list a:after {
    content: '';
    width: 11px;
    height: 12px;
    background: url(img/right-double.svg);
}

.wrapper section#main #content .project-list a:hover {
    transform: translateX(5px);
}

.wrapper section#main #content .project-list a:first-child {
    margin: 0;
}

.wrapper section#main #content nav {
    width: 280px;
    background: #f5f5f5;
    border-radius: 3px;
    padding: 30px;
    align-self: stretch;
    margin: 0 0 30px;
}

.wrapper section#main #content nav .sessions {
    display: flex;
    flex-direction: column;
}

.wrapper section#main #content nav .sessions a {
    color: #999999;
    font-weight: 600;
    text-decoration: none;
    margin: 0 0 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.wrapper section#main #content nav .sessions a:after {
    content: '';
    width: 7px;
    height: 12px;
    background: url(img/right.svg) no-repeat;
}

.wrapper section#main #content nav .sessions a:hover,
.wrapper section#main #content nav .sessions a.active {
    color: #444;
}

.wrapper section#main #content nav .btn {
    width: 100%;
    text-align: center;
}

.wrapper section#main #content article {
    flex: 1;
    margin: 20px 0 30px 30px;
    color: #666;
}

.wrapper section#main #content article .project-header {
    display: flex;
    align-items: baseline;
    margin: 0 0 20px;
}

.wrapper section#main #content article .project-header a {
    text-decoration: none;
    font-size: 14px;
}

.wrapper section#main #content article h1 {
    color: #444;
    font-size: 24px;
}

.wrapper section#main #content article p {
    line-height: 28px;
    margin: 0 0 15px;
}

.wrapper section#main #content form {
    display: flex;
    align-items: stretch;
    flex-direction: column;
}

.wrapper section#main #content form input {
    height: 51px;
    border-radius: 3px;
    padding: 0 20px;
    color: #444;
    font-size: 15px;
    margin: 0 0 10px;
    border: 1px solid #DDD;
}

.wrapper section#main #content form textarea {
    min-height: 300px;
    border-radius: 3px;
    padding: 20px;
    color: #444;
    font-size: 15px;
    margin: 0 0 10px;
    border: 1px solid #DDD;
    resize: vertical;
}

.alert {
    position: absolute;
    min-width: 300px;
    right: 20px;
    top: 20px;
    background: #0AC699;
    color: #FFF;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    font-size: 14px;
    transition: all .2s;
    opacity: 1;
}

.alert-success {
    background: #0FC936;
}

.alert-danger {
    background: #CC6161;
}

img[alt="signout"] {
    margin-top: 12px;
}

.project-list {
    list-style: none;
}

.project-list li {
    margin-bottom: 10px;
}

.app-name {
    text-decoration: none;
    color: #fff;
}

.CodeMirror {
    height: 400px !important;
}

.sections-list {
    list-style: none;
}

.section-actions {
    text-align: right;
    width: 100%;
}

.edit-section {
    margin-right: 5px;
    color: dodgerblue;
}

.remove-section {
    margin-left: 1px;
    color: #E06666;
}

.project-header h1 {
    width: 100%;
}
