<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Docfy</title>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

    <base href="http://{{ baseUrl }}">

    <link rel="stylesheet" href="styles.css">

    <script src="/simplemde/simplemde.min.js"></script>
    <link rel="stylesheet" href="/simplemde/simplemde.min.css">
</head>
<body>
    {% include '../partials/flash.njk' %}

    {% block body %}{% endblock %}
</body>
</html>
